In [1]:
import pandas as pd
import numpy as np

In [7]:
tapes=pd.read_csv("E:/mini project bristol/JPMorgan_Set01/JPMorgan_Set01/Tapes/UoB_Set01_2025-01-02tapes.csv",header=None,names=["Times","price","number"])
tapes

           Times  price  number
0         10.881    267       1
1         11.067    269       1
2         11.222    267       2
3         12.338    270       2
4         13.733    267       3
...          ...    ...     ...
23806  30598.085    287       2
23807  30598.085    288       2
23808  30599.108    292       1
23809  30599.728    290       1
23810  30599.728    288       1

[23811 rows x 3 columns]