In [1]:
import pandas as pd
import numpy as np

In [1]:
substring="Exch0"
# read the single file
LOB=[]
file="C:/Users/14620/Desktop/test.txt"

with open(file,'r') as f:
    for line in f:
        new_line=line.replace(substring, f'"{substring}"')#首先因为Exch0是字符串，所以先将字符串包在了引号内，以防eval（）误以为Exch0是变量名
        LOB.append(eval(new_line.strip('\n')))
LOB

[[1.643, 'Exch0', [['bid', [[1, 6]]], ['ask', [[798, 1]]]]],
 [1.736, 'Exch0', [['bid', [[261, 1], [1, 6]]], ['ask', [[798, 1]]]]],
 [1.984, 'Exch0', [['bid', [[261, 1], [1, 6]]], ['ask', [[797, 1]]]]],
 [2.015,
  'Exch0',
  [['bid', [[261, 1], [1, 6]]], ['ask', [[338, 3], [797, 1]]]]],
 [2.139,
  'Exch0',
  [['bid', [[261, 1], [1, 6]]], ['ask', [[297, 5], [338, 3], [797, 1]]]]],
 [2.697,
  'Exch0',
  [['bid', [[262, 6], [261, 1]]], ['ask', [[297, 5], [338, 3], [797, 1]]]]],
 [3.069,
  'Exch0',
  [['bid', [[262, 6], [261, 1]]],
   ['ask', [[296, 1], [297, 5], [338, 3], [797, 1]]]]],
 [3.131,
  'Exch0',
  [['bid', [[262, 6], [261, 1]]],
   ['ask', [[296, 1], [297, 5], [309, 3], [797, 1]]]]],
 [3.255,
  'Exch0',
  [['bid', [[262, 6], [261, 1]]],
   ['ask', [[296, 1], [297, 5], [309, 3], [334, 4], [797, 1]]]]]]

In [54]:
def Convert(a):
    it=iter(a)
    res_dct=dict(zip(it,it))
    return res_dct
#方法：用迭代器将他们转成字典形式

New_data=[]
test_lines=np.asarray(LOB,dtype=object)#用asarray方法将LOB转化为多维数组
test_lines

array([[1.643, 'Exch0', list([['bid', [[1, 6]]], ['ask', [[798, 1]]]])],
       [1.736, 'Exch0',
        list([['bid', [[261, 1], [1, 6]]], ['ask', [[798, 1]]]])],
       [1.984, 'Exch0',
        list([['bid', [[261, 1], [1, 6]]], ['ask', [[797, 1]]]])],
       [2.015, 'Exch0',
        list([['bid', [[261, 1], [1, 6]]], ['ask', [[338, 3], [797, 1]]]])],
       [2.139, 'Exch0',
        list([['bid', [[261, 1], [1, 6]]], ['ask', [[297, 5], [338, 3], [797, 1]]]])],
       [2.697, 'Exch0',
        list([['bid', [[262, 6], [261, 1]]], ['ask', [[297, 5], [338, 3], [797, 1]]]])],
       [3.069, 'Exch0',
        list([['bid', [[262, 6], [261, 1]]], ['ask', [[296, 1], [297, 5], [338, 3], [797, 1]]]])],
       [3.131, 'Exch0',
        list([['bid', [[262, 6], [261, 1]]], ['ask', [[296, 1], [297, 5], [309, 3], [797, 1]]]])],
       [3.255, 'Exch0',
        list([['bid', [[262, 6], [261, 1]]], ['ask', [[296, 1], [297, 5], [309, 3], [334, 4], [797, 1]]]])]],
      dtype=object)

In [55]:
for i in test_lines:
    every_line=[["Time",i[0]],["Encode",i[1]],i[2][0],i[2][1]]
    #创建新列，将testlines数组内的数据放进新的格式内，方便下面计算
    New_data.append(every_line)
New_data

for i in New_data:#将数据放进convert方法中，全部转化成字典格式
    i[0]=Convert(i[0])
    i[1]=Convert(i[1])
    i[2]=Convert(i[2])
    i[3]=Convert(i[3])
    i[0]=i[0]|i[1]|i[2]|i[3]#将所有列汇总到第一列
New_data=np.delete(New_data,[1,2,3],1)#删除多余的列
New_data

array([[{'Time': 1.643, 'Encode': 'Exch0', 'bid': [[1, 6]], 'ask': [[798, 1]]}],
       [{'Time': 1.736, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[798, 1]]}],
       [{'Time': 1.984, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[797, 1]]}],
       [{'Time': 2.015, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[338, 3], [797, 1]]}],
       [{'Time': 2.139, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[297, 5], [338, 3], [797, 1]]}],
       [{'Time': 2.697, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[297, 5], [338, 3], [797, 1]]}],
       [{'Time': 3.069, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[296, 1], [297, 5], [338, 3], [797, 1]]}],
       [{'Time': 3.131, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[296, 1], [297, 5], [309, 3], [797, 1]]}],
       [{'Time': 3.255, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[296, 1], [297, 5], [309, 3], [334, 4], [797, 1]]}]],
      dtype=object)

In [84]:
New_data2=New_data.tolist()
df_test=pd.DataFrame(New_data2)
df_test

                                                   0
0  {'Time': 1.643, 'Encode': 'Exch0', 'bid': [[1,...
1  {'Time': 1.736, 'Encode': 'Exch0', 'bid': [[26...
2  {'Time': 1.984, 'Encode': 'Exch0', 'bid': [[26...
3  {'Time': 2.015, 'Encode': 'Exch0', 'bid': [[26...
4  {'Time': 2.139, 'Encode': 'Exch0', 'bid': [[26...
5  {'Time': 2.697, 'Encode': 'Exch0', 'bid': [[26...
6  {'Time': 3.069, 'Encode': 'Exch0', 'bid': [[26...
7  {'Time': 3.131, 'Encode': 'Exch0', 'bid': [[26...
8  {'Time': 3.255, 'Encode': 'Exch0', 'bid': [[26...

In [85]:
data_test=New_data.flatten()
data_test

array([{'Time': 1.643, 'Encode': 'Exch0', 'bid': [[1, 6]], 'ask': [[798, 1]]},
       {'Time': 1.736, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[798, 1]]},
       {'Time': 1.984, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[797, 1]]},
       {'Time': 2.015, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[338, 3], [797, 1]]},
       {'Time': 2.139, 'Encode': 'Exch0', 'bid': [[261, 1], [1, 6]], 'ask': [[297, 5], [338, 3], [797, 1]]},
       {'Time': 2.697, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[297, 5], [338, 3], [797, 1]]},
       {'Time': 3.069, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[296, 1], [297, 5], [338, 3], [797, 1]]},
       {'Time': 3.131, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[296, 1], [297, 5], [309, 3], [797, 1]]},
       {'Time': 3.255, 'Encode': 'Exch0', 'bid': [[262, 6], [261, 1]], 'ask': [[296, 1], [297, 5], [309, 3], [334, 4], [797, 1]]}],
      dtype=object)

In [111]:
data_test2=data_test.tolist()#在使用dict直接转换成dataframe前，需要转化成list
data_test2
df=pd.DataFrame(data_test2)
df
df=df.set_index("Time")
df
#数据处理完毕，成功转化为dataframe

,Encode,bid,ask
Time,,,
1.643,Exch0,"[[1, 6]]","[[798, 1]]"
1.736,Exch0,"[[261, 1], [1, 6]]","[[798, 1]]"
1.984,Exch0,"[[261, 1], [1, 6]]","[[797, 1]]"
2.015,Exch0,"[[261, 1], [1, 6]]","[[338, 3], [797, 1]]"
2.139,Exch0,"[[261, 1], [1, 6]]","[[297, 5], [338, 3], [797, 1]]"
2.697,Exch0,"[[262, 6], [261, 1]]","[[297, 5], [338, 3], [797, 1]]"
3.069,Exch0,"[[262, 6], [261, 1]]","[[296, 1], [297, 5], [338, 3], [797, 1]]"
3.131,Exch0,"[[262, 6], [261, 1]]","[[296, 1], [297, 5], [309, 3], [797, 1]]"
3.255,Exch0,"[[262, 6], [261, 1]]","[[296, 1], [297, 5], [309, 3], [334, 4], [797,..."

In [161]:
#定义并计算数据里的重点特征 例如best_bid_price和best_ask_price
best_bid_price=[]
best_ask_price=[]
bid_volume=[]
ask_volume=[]
#计算混合重要数据，例如买卖价差，买卖价格平均数
bid_ask_spread=[]#买卖价差
median_price=[]#买卖价格平均数
# best_bid和best_ask都是数据框最左边的
for index,row in df.iterrows():#iterrows方法：按行进行迭代，每行单独进行计算，index是索引，row是列
    bid_line=np.array(row.bid)
    ask_line=np.array(row.ask)
    best_bid_price.append(bid_line[0][0])
    best_ask_price.append(ask_line[0][0])
    bid_volume.append(bid_line[0][1])
    ask_volume.append(bid_line[0][1])
    bid_ask_spread.append(ask_line[0][0]-bid_line[0][0])
    median_price.append((ask_line[0][0]+bid_line[0][0])/2)
    print(best_bid_price)

[1]
[1, 261]
[1, 261, 261]
[1, 261, 261, 261]
[1, 261, 261, 261, 261]
[1, 261, 261, 261, 261, 262]
[1, 261, 261, 261, 261, 262, 262]
[1, 261, 261, 261, 261, 262, 262, 262]
[1, 261, 261, 261, 261, 262, 262, 262, 262]

In [150]:
df.insert(1,"best_bid_price",best_bid_price)
df.insert(2,"best_ask_price",best_ask_price)
df.insert(3,"bid_volume",bid_volume)
df.insert(4,"ask_volume",ask_volume)
df.insert(5,"bid_ask_spread",bid_ask_spread)
df.insert(6,"median_price",median_price)
df

,Encode,best_bid_price,best_ask_price,best_bid_volume,best_ask_volume,bid_ask_spread,median_price,bid,ask
Time,,,,,,,,,
1.643,Exch0,1,798,6,6,797,399.5,"[[1, 6]]","[[798, 1]]"
1.736,Exch0,261,798,1,1,537,529.5,"[[261, 1], [1, 6]]","[[798, 1]]"
1.984,Exch0,261,797,1,1,536,529.0,"[[261, 1], [1, 6]]","[[797, 1]]"
2.015,Exch0,261,338,1,1,77,299.5,"[[261, 1], [1, 6]]","[[338, 3], [797, 1]]"
2.139,Exch0,261,297,1,1,36,279.0,"[[261, 1], [1, 6]]","[[297, 5], [338, 3], [797, 1]]"
2.697,Exch0,262,297,6,6,35,279.5,"[[262, 6], [261, 1]]","[[297, 5], [338, 3], [797, 1]]"
3.069,Exch0,262,296,6,6,34,279.0,"[[262, 6], [261, 1]]","[[296, 1], [297, 5], [338, 3], [797, 1]]"
3.131,Exch0,262,296,6,6,34,279.0,"[[262, 6], [261, 1]]","[[296, 1], [297, 5], [309, 3], [797, 1]]"
3.255,Exch0,262,296,6,6,34,279.0,"[[262, 6], [261, 1]]","[[296, 1], [297, 5], [309, 3], [334, 4], [797,..."

In [154]:
#最长的出价个数，无论bid or ask
max_level=0
for index, row in df.iterrows():
    level=max(len(row.bid),len(row.ask))
    if level>=max_level:
        max_level=level

print(max_level)

5